{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>
            Bonjour ! Bien venue sur la market place
        </h1>
        <form action="submit">
            <h5>Entrez vos identifiants</h5>
            <input type="text" name="userName">
            <input type="text" name="Password">
            <input type="submit">
        </form>
    </main>
{% endblock %}


{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}