{% extends 'base.html.twig' %}

{% block content %}
    <h1>Welcome to this market place !</h1>

    <p>
        <a href="{{path('login')}}">Login</a>
    </p>

    <p>
        <a href="{{path('register')}}">Register</a>
    </p>

    <p>
        <a href="{{path('profile')}}">Profile</a>
    </p>
{% endblock %}
