{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form action="submit">
            <input type="text" name="user">
            <input type="text" name="password">
        </form>
    </div>
{% endblock %}


{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}