{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World !</h1>

{% endblock %}


{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}