{% extends 'base.html.twig' %}
{% block title %}
    page2
{% endblock %}


{% block content %}
    <h1>Hello World ! This is page2</h1>
    <p>hello {{ userName }}</p>

{% endblock %}


{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
{% endblock %}