{% extends 'base.html.twig' %}

{% block content %}
    <h1>Welcome to your profile !</h1>

    <p>You are {{ user.username }} and your name is {{ user.firstname }} {{ user.lastname }} !
{% endblock %}
